/* navbar.component.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d1d7de; /* Blue color, you can change it as needed */
    padding: 10px 20px;
  }
  
  .navbar-logo img {
    height: 50px; /* Adjust height as needed */
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px; 
    /* Adjust spacing between menu items */
  }
  
  .navbar-link {
    color: #000000; /* White color for links, you can change it as needed */
    text-decoration: none;
    font-size: 16px; /* Adjust font size as needed */
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  